.result {
    height: 180px;
    background-color: #111;
    padding: 12px;
    font-family: monospace;
    color: #00ffcc;
    overflow-y: auto;
}

iframe {
    width: 100%;

    border: 1px solid #444;
    margin-top: 10px;
    background: white;
}